* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.board {
    margin-top: 50px;
    width: 214px;
    height: 351px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 243, 248);
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}

.div {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    font-size: 17px;
    margin: 3px;
    border-radius: 100%;
    box-shadow: 2px 1px 2px grey;
    width: 45px;
    height: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    border-radius: 10px;
    border: none;
    font-size: 17px;
    height: 100px;
    transition: 0.5s;
    position: relative;
}



.history-board {
    width: 214px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    color: black;
}

.history-board ul {
    list-style: none;
    font-size: 14px;
    padding-left: 0;
}

.history-board li {
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
}

.history-board button {
    margin-top: 8px;
    width: 100%;
    padding: 5px;
}
