body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    gap: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#controller{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

button{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.input-group{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#table {
    border-collapse: collapse;
}

.cell {
    border: 2px solid #333;
    padding: 5px;
}

.header{
    background-color: #4CAF50;
    color: white;
}