html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-header{
    font-weight: bold;
    background-color: #079668;
    padding: 5px;
    border:1px solid black;
    min-width: 100px;
}

.table-data{
    padding: 5px;
    border:1px solid black;
    min-width: 100px;
    text-align: center;
}